{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h4>My Rent Orders:</h4>
    {% for order in orders %}
      <div class="row pb-4 pt-3">
        <div class="col-2" onclick="window.location='{% url 'detail' order.product.id %}';" style="cursor: pointer;">
          <img src="{{ order.product.img1.url }}" class="img-fluid">
        </div>
        <div class="col-5" onclick="window.location='{% url 'detail' order.product.id %}';"  style="cursor: pointer;">
          <h4>{{ order.product.prod_name }}</h4>
        </div>
        <div class="col-5">
          <h4>Ordered On: {{ order.order_date }}</h4>
          <h4>Date Range: {{ order.date_range }}</h4>
          <h4>Amount Paid: Rs {{ order.cost }}</h4>
        </div>
      </div>
    {% endfor %}
    <h4>My Buy Orders:</h4>
    {% for order in borders %}
      <div class="row pb-4 pt-3">
        <div class="col-2" onclick="window.location='{% url 'detail' order.product.id %}';" style="cursor: pointer;">
          <img src="{{ order.product.img1.url }}" class="img-fluid">
        </div>
        <div class="col-5" onclick="window.location='{% url 'detail' order.product.id %}';"  style="cursor: pointer;">
          <h4>{{ order.product.prod_name }}</h4>
        </div>
        <div class="col-5">
          <h4>Ordered On: {{ order.order_date }}</h4>
          <h4>Amount Paid: Rs {{ order.cost }}</h4>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
