
body {

    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}
.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: cursive;
}
#logo{
    width: 50px;
    height: 50px;
    border-radius: 90%;
}

#home{
 position: relative;
 width: 50%;
 margin: 80px 29%;
}
.footer{
     position: fixed;
   bottom: 0;
      width: 100%;
    text-align: center;


  background-color: #000;
    color: #ffffff;
    font-size:14px;
}
body{
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini.png") repeat;
    width: 100%;
    height: 100%;
}

.sidenav {
    position: fixed;
    background-color: #111;
    overflow-x: hidden;
    height: 90%;
    top: auto;
}


.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;

  cursor: pointer;
  outline: none;
}
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}


/* Add an active class to the active dropdown button */
#actived {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}



#signup{
     opacity: .9;
border-radius: 30px;
    display: flex;
    flex-direction: column;
      margin: 20% 2% 15% 20%;
    position: relative;
    font-size: 2vw;
}
#login{
     opacity: .9;
     border-radius: 30px ;
    position: relative;
     margin: 10% 20% 15% 10%;
  padding: 80px 100px;
    font-size: 2vw;
}


@media (max-width: 700px){
.sidenav {
    width: 100%;
    height: auto;
    position: static;
}
}
@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}






