<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static "first_app/images/logo.png" %}"/>
    <title>RentalGo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="{% static "first_app/csss/style.css" %}"/>


     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<!---------->

<nav class="navbar na navbar-expand-lg navbar-dark bg-dark">
     <a href="{% url 'index' %}" class="pull-left " id="logo-img">
            <img  src="{% static "first_app/images/logo.png" %}" alt="RentalGo" style="float:left" ; id="logo">
        </a>
  <a class="navbar-brand pull-left" href="{% url 'index' %}">
            <h1> RentalGo</h1>
        </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
      <form class="form-inline mr-auto " action="#">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="search">
                <button class="btn btn-success" type="submit"><span class="fa fa-search"></span></button>
            </form>
     <ul class="navbar-nav text-center ">
                <li class="nav-item "><a class="nav-link" href="{% url 'admin:index' %}"><span
                        class="fa fa-user-secret"></span> Admin</a></li>

                {% if user.is_authenticated %}


                    <ul class="navbar-nav " >
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <span class="navbar-text fa fa-user">  {{ user.username }}</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'logout' %}"><span class="fa fa-sign-out"></span>
                                    Logout</a>
                                <a class="dropdown-item" href="#">Orders</a>
                                <a class="dropdown-item" href="#">Link1</a>

                            </div>
                        </li>
                    </ul>


                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'first_app:register' %}"><span
                            class="fa fa-user"></span> Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'first_app:user_login' %}"><span
                            class="fa fa-sign-in"></span> Login</a></li>
                {% endif %}


            </ul>

  </div>
</nav>


















<div class="sidenav text-center" style=" top:auto;">
    <a href="/first_app/about/">About</a>
    <a href="#">Services</a>
    <a href="/first_app/contact">Contact</a>
    <button class="dropdown-btn">Categories
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">All</a>
        <a href="http://127.0.0.1:8000/shop/furniture">Furniture</a>
        <a href="http://127.0.0.1:8000/shop/books">Books</a>

    </div>
</div>

<!--external js file for sidebar drop down menu-->
<script src="{% static "first_app/js/style.js" %}"></script>


<div class="container">

    {% block body_block %}
    {% endblock %}
</div>


<footer class="footer">
    <p class="container">
        <p>
            Copyright © Rental Go. All Rights Reserved | contact us <a href="tel:963644004">
                <span>9999999999</span></a>
        </a>
</p>



</footer>



</body>
</html>
