{% extends 'base.html' %}
{% load staticfiles %}
{% block title%} About Us{% endblock %}
{% block content %}

<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Team</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'shrey.jfif' %}" style="height: 250px;width: 245px" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shrey Goel</h5>
          <div class="card-text text-black-50">Roll-No:2018373</div>
             <div class="card-text text-black-50">Branch:CSE</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'untitled.png' %}" style="height: 250px;width: 245px">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Pranav choudhary</h5>
          <div class="card-text text-black-50">Roll-No:2018184</div>
            <div class="card-text text-black-50">Branch:CSE</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'shikar.jfif' %}" style="height: 250px;width: 245px" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shikhar Shankar</h5>
          <div class="card-text text-black-50">Roll-No:2018371</div>
            <div class="card-text text-black-50">Branch:ECE</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'harsh.jpg' %}" style="height: 250px;width: 245px" alt="..." >
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Harsh Chaurasiya</h5>
          <div class="card-text text-black-50">Roll-No:2018099</div>
            <div class="card-text text-black-50">Branch:CSE</div>

        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>





{% endblock %}